.card>:first-child>:first-child>*,
.card>:first-child>:last-child>* {
	border: solid black 1px;
	border-radius: 1000px;
}


.card {
	height: calc(3 * 2.474cm);
}


.card>:nth-child(2)>:nth-child(2) {
	display: flex;
	font-size: 0.9em;
}

.card>:nth-child(2)>:nth-child(2)>div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.card>:nth-child(2)>:nth-child(2)>div>span {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.card>:first-child>div,
.card>:last-child>div {
	padding: 0.1em;
}
