* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.card {
	/*border: 1px solid black;*/
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}



.card.grid * {
	max-height: 100%;
	max-width: 100%;
}


.card.grid {
	width: 5.245cm;
	font-family: Arial, Helvetica, sans-serif;
	//border: 1px solid black;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
}



.card.grid>* {
	display: inline-flex;
	justify-content: center;
}


.card.grid>*>:nth-child(odd) {
	white-space: nowrap;
}



.card.grid>*>* {
	justify-content: center;
	display: flex;
	flex-direction: column;
	//border: solid black 1px;
}


.card.grid>:first-child>*,
.card.grid>:nth-child(2)>:nth-child(2),
.card.grid>:last-child>* {
	flex: 1;
}


.card.grid>:first-child>* {
	margin-bottom: auto;
}


.card.grid>:last-child>* {
	margin-top: auto;
}

.card.grid>*>:first-child {
	text-align: left;
}
.card.grid>*>:first-child>* {
	margin-right: auto;
}
.card.grid>*>:last-child {
	text-align: right;
}
.card.grid>*>:last-child>* {
	margin-left: auto;
}

.card.grid>:nth-child(2) {
	flex-grow: 1;
}



.card.red {
	--color: 0;
}
.card.green {
	--color: 120;
}
.card.blue {
	--color: 240;
}
.card.cyan {
	--color: 180;
}
.card.magenta {
	--color: 300;
}
.card.yellow {
	--color: 60;
}

.card {
	color: hsl(var(--color), 100%, 30%);
	border-color: hsl(var(--color), 100%, 30%);
	background-color: hsl(var(--color), 100%, 93%);
}

.card .light {
	background-color: hsl(var(--color), 100%, 96%);
}